.footer {
    background-color: #333;
    color: rgba(255, 255, 255, 0.87);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    width: auto;
}

.footer-about {
    flex: 1;
    min-width: 280px;
    max-width: 450px;
    text-align: left;
    margin-left: 100px; 
}

.footer-contact {
    flex: 1;
    min-width: 280px;
    max-width: 450px;
    text-align: left;
}

.footer-title {
    font-size: 1.4rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #5d93c0;
}

/* Dark mode compatibility */
@media (prefers-color-scheme: light) {
    .footer {
        background-color: #f0f0f0;
        color: #213547;
    }
}

/* Mobile Styles */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 15px;
    }

    .footer-about,
    .footer-contact {
        text-align: center;
        max-width: 100%;
    }
}
