.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.home-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase; 
  letter-spacing: 2px; 
  font-weight: bold; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.home-description {
  font-size: 1.2rem;
  color: black;
  max-width: 800px;
  margin: 0 auto 20px;
}

.home-shop-now {
  display: inline-block;
  background-color: #1a73e8;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.home-shop-now:hover {
  background-color: #0c5ed7;
  transform: scale(1.05);
}

.home-image {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-bottom: 40px;
}