.navbar {
    background-color: #0A2540;
    padding: 0.3rem 1rem;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0;
    padding: 0;
  }
  