.navbar {
  background-color: #6699CC;
  padding: 20px 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  font-size: 1.6rem;
  font-weight: bold;
  background: linear-gradient(90deg, #ffffff, #cccccc);
  -webkit-background-clip: text;
  background-clip: text; 
  -webkit-text-fill-color: transparent;
  text-transform: none;
  letter-spacing: 1.5px;
  text-shadow: 0 2px 4px rgba(255, 255, 255, 0.5), 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: text-shadow 0.3s ease;
  margin-left: 100px;
}


.navbar-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.navbar-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-link:hover {
  background-color: #0c5ed7;
  color: #ffffff;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
  }

  .navbar-container {
    flex-direction: column;
    align-items: center;
  }

  .navbar-logo {
    margin-bottom: 10px;
  }

  .navbar-links {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }

  .navbar-link {
    font-size: 1.2rem;
    padding: 8px;
  }
}
